:host {
  app-card {
    width: 32%;
    height: 100px;
    display: block;
    float: left;
    margin: 1% 1% 1% 0;
    cursor: pointer;
  }
  .metadata-resources {
    .container {
      padding-top: 10px;
      padding-bottom: 10px;
      .input-group {
        width: 300px;
      }
    }
    form {
      margin-top: 10px;
    }
    .loading {
      margin: 0 auto;
      display: block;
      margin-top: 110px;
    }
    .form-control-inline{
      display: inline-block;
      width: 60%;
    }
  }
}
